{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--/#header-->


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About the game</h1>
                            <p>Did you enjoy playing Travian? Do you already know all the secrets there and want a bigger challenge?</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="{%static 'images/aboutus/5.png' %}" class="margin-bottom" alt="">
                    <h1 class="margin-bottom">Slosimon</h1>
                    <p>Don't call the game Travian. It is way better. Set into the world war 2 where you can choose between 6 different armies and new unit types. 
                    </p>
                    Partisans were underequiped, however their bravery and team spirit may be crucial towards the victory. Sabotages and outstanding fighting skills won't let you down.
                    </p><p>
                    Russian army is based on quantity and not quality. With a good tactics you may overrule all your enemies at the beginning and in the late stage, massive armies are always ready to fight for you.
                    </p><p>
                    American army is costly; however, highly trained with great combat skills. Not everyone is able to play them as they require a lot of patience and skills.
                    </p><p>
                    British navy is far the best from all of the armies. When comming in a close combat, those ships are almost unsinkable. With a infantry, air and artillery support, it is ready to accomplish any mission.
                    </p><p>
                    Germans army is based on quality and not quantity. Costly and yet powerful troops know no fear and will fight till the last soldier. 
                    </p><p>
                    Japanese are so loyal to their emperor, they will fight and not surrender. They might be underequiped, but there is no doubt in their fighting skills. In big battles, they use Kamikaze, suicidal pilots, which will do outstanding result in a battle with big navy army.</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{%static 'images/home/icon1.png'%}" alt="">
                        </div>
                        <h2>Goals</h2>
                        <p>The goal of the game is to be the first alliance to build nuklear weapon. With it, you may destroy all your enemies.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="{% static 'images/home/icon2.png'%}" alt="">
                        </div>
                        <h2>Server timeline</h2>
						<p>Day 1: Server starts. Nuke villages will already be shown on the map</p>
						<p>Day 75: Artifacts release.</p>
						<p>Day 150: Nuke plans will be released</p>
						<p>Day 225: Aliens will start their Nuke construction</p>
						<p>Day 325: The last possible day of the server</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="{%static 'images/home/icon3.png'%}" alt="">
                        </div>
                        <h2>Ideas?</h2>
                        <p>If you have any good ideas about the game development, send me an email and your in game name, so I can reward you</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="1" data-speed="3000" data-from="0">1</h1>   
                            <h3>Developers</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="12000" data-speed="3000" data-from="0">12000</h1>   
                            <h3>Lines of code</h3> 
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0">432</h1> 
                            <h3>Cups of Coffee</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="0" data-speed="3000" data-from="0">0</h1> 
                            <h3>Servers player</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="company-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="about-us">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="bold">Want to hire me?</h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="{% static 'images/aboutus/6.png'%}" class="img-responsive" alt="">
                            </div>
                            <div class="col-sm-7">
                                <h3 class="top-zero">Who I am</h3>
                                <p>Just a top coder... Django developer, programming competition contestant, good looking guy (to attract girls)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="our-skills">
                            <h2 class="bold">My Skills</h2>
                            <div class="single-skill">
                                <h3>Design</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="35">35%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>C++</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="80">80%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>Django-python</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="80">80%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#company-information-->
{% endblock %}
