{% extends 'base_game.html' %}
{% load static %}
{% block content %}
<section id="page-breadcrumb">
	<div class="vertical-center sun">
		 <div class="container">
			<div class="row">
				<div class="action">
					<div class="col-sm-12">
						<h1 class="title">{{player.user.username}}</h1>
						<p>{{village_name}}</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="our-skills">
					<h2 class="bold">Resources</h2>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<h3>Oil ({{resources.oil| floatformat:"0"}} / {{warehouse}})</h3>
						<h3>{{production.oil| floatformat:"0"}} / hour</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{oil}}">{{oil}}%</div>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<h3>Iron ({{resources.iron| floatformat:"0"}} / {{warehouse}})</h3>
						<h3>{{production.iron| floatformat:"0"}} / hour</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{iron}}">{{iron}}%</div>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<h3>Wood ({{resources.wood| floatformat:"0"}} / {{warehouse}})</h3>
						<h3>{{production.wood| floatformat:"0"}} / hour</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{wood}}">{{wood}}%</div>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3">
						<h3>Food ({{resources.food| floatformat:"0"}} / {{silo}})</h3>
						<h3>{{production.food| floatformat:"0"}} / hour</h3>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{food}}">{{food}}%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/#action-->
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<img src="{{picture}}" class="margin-bottom" alt="">
				<h1 class="margin-bottom">{{field.name.name}}</h1>
				<p>{{description}}</p>
				<p><i>Old bonus: {{current_production}}</i></p>
				<p><b>New bonus: {{upgraded_production}}</b></p>
				<h3>Oil: {{cost_oil}} Iron: {{cost_iron}} Wood: {{cost_wood}} Food: {{cost_food}}</h3>
				<h2>Upgrade time: {{upgrade_time}}</h2>
				{% if ok == "1" %}
				<form method="POST" action="upgrade/">
					{% csrf_token %}
					<input type="submit" class="btn btn-lg btn-success" value="Upgrade" name="{{pos}}">
				</form>
				{% else %}
					<input type="submit" class="btn btn-lg btn-danger" value="Upgrade" name="{{pos}}">
				{% endif %}
			</div>
		</div>
	</div>
</section>

<!--/#about-company-->
{% endblock %}
