{% extends 'resource.html' %}
{% load static %}
{% block contenta %}

    

    <section id="portfolio">
        <div class="container">
            <div class="row">   
                <div class="portfolio-items">
					{% for type, name, lvl, picture in field %}
                    <div class="col-xs-6 col-sm-6 col-md-2 portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src={{picture|safe}} class="img-responsive" alt="{{name}}">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
										<li><span class="fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x"></i><strong class="fa-stack-1x text-primary">{{lvl}}</strong></span></li>
                                        <li><a href="{{type}}"><i class="fa fa-upload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>{{ name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </section>
    <!--/#portfolio-->
 <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
						{% for q,e in queue %}
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p>{{q}} ({{e|date:"N j, H:i:s" }})</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->
{% endblock %}
