{% extends 'base_game.html' %}
{% load static %}
{% block content %}

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{player.user.username}}</h1>
                            <p>{{village_name}}</p>
                        </div>
                    </div>
                </div>
				<div class="container">
					<div class="our-skills">
						<h2 class="bold">Resources</h2>
						<div class="col-xs-4 col-sm-4 col-md-3">
							<h3>Oil ({{resources.oil| floatformat:"0"}} / {{warehouse}})</h3>
							<h3>+{{production.oil| floatformat:"0"}} / hour</h3>
							<div class="progress">
								<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{oil}}">{{oil}}%</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-3">
							<h3>Iron ({{resources.iron| floatformat:"0"}} / {{warehouse}})</h3>
							<h3>+{{production.iron| floatformat:"0"}} / hour</h3>
							<div class="progress">
								<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{iron}}">{{iron}}%</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-3">
							<h3>Wood ({{resources.wood| floatformat:"0"}} / {{warehouse}})</h3>
							<h3>+{{production.wood| floatformat:"0"}} / hour</h3>
							<div class="progress">
								<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{wood}}">{{wood}}%</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-3">
							<h3>Food ({{resources.food| floatformat:"0"}} / {{silo}})</h3>
							<h3>+{{production.food| floatformat:"0"}} / hour</h3>
							<div class="progress">
								<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="{{food}}">{{food}}%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
   </section>
    <!--/#action-->
    

    <section id="portfolio">
        <div class="container">
            <div class="row">   
                <div class="portfolio-items">
					{% for type, name, lvl, picture in field %}
                    <div class="col-xs-6 col-sm-6 col-md-2 portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src={{picture|safe}} class="img-responsive" alt="{{name}}">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
										<li><span class="fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x"></i><strong class="fa-stack-1x text-primary">{{lvl}}</strong></span></li>
                                        <li><a href="{{type}}"><i class="fa fa-upload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>{{ name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </section>
    <!--/#portfolio-->
 <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
						{% for q,e in queue %}
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <p>{{q}} {{e|time:"N j H:M:S"}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->
{% endblock %}
