{% extends 'base_game.html' %}
{% load static %}
{% block content %}

   <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">How wonderful it is!</h1>
                            <p>You can get more bonuses with gold.</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section class="container">        
        <div class="price-table">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="single-price price-one">
                        <div class="table-heading">
                            <p class="plan-name">Gold bonus plus</p>
                            <p class="plan-price"><span class="price">100</span><span class="month">gold / game</span></p>
                        </div>
                        <ul>                            
                            <li>Food detective <span><i class="fa fa-check"></i></span></li>
                            <li>Army security for capital <span><i class="fa fa-check"></i></span></li>
                            <li>Farm lists <span><i class="fa fa-check"></i></span> </li>
                            <li>3x resources transport ability <span><i class="fa fa-check"></i></span></li>
                            <li>Attack builder <span><i class="fa fa-check"></i></span></li>
                            {% if player.bonuses.gold_club %}
								<li>Wonderful, your gold bonus plus is already on!</li>
							{% else %}
								<li><a href="club/">Buy now</a></li>
							{% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="single-price price-two">
                        <div class="table-heading">
                            <p class="plan-name">Gold plus</p>
                            <p class="plan-price"><span class="price">10</span><span class="month">gold / Week</span></p>
                        </div>                        
                        <ul>
                            <li>Attack alert <span><i class="fa fa-check"></i></span></li>
                            <li>Notes <span><i class="fa fa-check"></i></span></li>
                            <li>Save reports <span><i class="fa fa-check"></i></span> </li>
                            <li>2x resources transport ability <span><i class="fa fa-check"></i></span></li>
                            <li>Full account overview <span><i class="fa fa-check"></i></span></li>
                            <li><a href="plus/">Extend now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="single-price price-three">
                        <div class="table-heading">
                            <p class="plan-name">25% bonus production</p>
                            <p class="plan-price"><span class="price">5</span><span class="month">gold / Week</span></p>
                        </div>
                        <ul>
                            <li>Oil <a href="oil/">Extend now</a></li>
                            <li>Iron <a href="iron/">Extend now</a></li>
                            <li>Wood <a href="wood/">Extend now</a></li>
                            <li>Food <a href="food/">Extend now</a></li>
                            <!--<li>+10% Food (with normal food bonus on!) </br> <a href="food2/">Extend now</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/#price-table-->
    </section>
	{% if ok %}
	
    <section class="container">
        <div class="price-table2">
            <div class="row">
				<div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-one">
                        <div class="table-header">
                            <h2>Small</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">2</span></p>
                        </div>
                        <ul>
							<li>30 gold <a href="30/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-two">
                        <div class="table-header">
                            <h2>Small</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">3</span></p>
                        </div>
                        <ul>
							<li>60 gold <a href="60/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-three">
                        <div class="table-header">
                            <h2>Small</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">5</span></p>
                        </div>
                        <ul>
							<li>120 gold <a href="120/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-four">
                        <div class="table-header">
                            <h2>Medium</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">10</span></p>
                        </div>
                        <ul>
							<li>300 gold <a href="300/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-one">
                        <div class="table-header">
                            <h2>Large</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">20</span></p>
                        </div>
                        <ul>
							<li>750 gold <a href="750/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-two">
                        <div class="table-header">
                            <h2>Huge</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">50</span></p>
                        </div>
                        <ul>
							<li>2500 gold <a href="2500/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-three">
                        <div class="table-header">
                            <h2>Unlimited</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">100</span></p>
                        </div>
                        <ul>
							<li>7000 gold <a href="7000/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">                    
                    <div class="single-table table-four">
                        <div class="table-header">
                            <h2>Unlimited</h2>
                            <p class="plan-price"><span class="euro-sign">€</span><span class="price">250</span></p>
                        </div>
                        <ul>
							<li>Unlimited gold <a href="unlimited/">Buy now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/#price-table2-->
    </section>
    {% endif %}
{% endblock %}
