{% extends 'base_game.html' %}
{% load static %}
{% load negative %}
{% block content %}

	<section id="coming-soon">        
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-1">                    
					<div class="text-center coming-content">
						<center>
							<h1>Invitations</h1>
							{% for invitation in invitationset %}
								<p>You have been invited to join {{invitation.ally.name}}</p>
								<form method="post" action="/invitation/{{invitation.id}}/accept/">
									{% csrf_token %}
									<div class="wrapper_btn" style="">
										<button type="submit" class="btn btn-common" style="margin: 0 auto;">Accept</button>
									</div>
								</form>
								<form method="post" action="/invitation/{{invitation.id}}/reject/">
									{% csrf_token %}
									<div class="wrapper_btn" style="">
										<button type="submit" class="btn btn-danger" style="margin: 0 auto;">Reject</button>
									</div>
								</form>
							{% endfor %}
						</center>
					</div>                    
				</div>
			</div>
		</div>       
	</section>
{% endblock %}
