{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Just another game in the web">
    <meta name="author" content="simon@slosimon.com">
    <title>Slosimon | Free mass player online game</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css'%}" rel="stylesheet"> 
    <link href="{% static 'css/lightbox.css'%}" rel="stylesheet"> 
	<link href="{% static 'css/main.css'%}" rel="stylesheet">
	<link href="{% static 'css/responsive.css'%}" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/ico/favicon.ico'%}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png'%}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png'%}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png'%}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png">
    {% block js %} {% endblock %}
</head><!--/head-->

<body>
	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="https://www.facebook.com/SWmafija"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Neizdam"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+SimonWeiss-TheNobody"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/slosimon/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                    	<h1><img src="{% static 'images/logo.png'%}" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/fields/">Fields</a></li>
                        <li><a href="/center/">Center </a></li>                    
                        <li class="dropdown"><a href="#">Statistics <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="/pop_ranking/">Population ranking</a></li>
                                <li><a href="/attack_ranking/">Attack ranking</a></li>
                                <li><a href="/defense_ranking/">Defense ranking</a></li>
                                <li><a href="/weekly/">Weekly statistics</a></li>
                                <li><a href="/ally_ranking/">Alliance ranking</a></li>
                                <li><a href="/ally_attack_ranking/">Alliance attack ranking</a></li>
                                <li><a href="/ally_defense_ranking/">Alliance defense ranking</a></li>
                                <li><a href="/ally_weekly/">Alliance weekly statistics</a></li>
                                <li><a href="/hero/">Hero</a></li>
                                <li><a href="/nuke/">Nuke</a></li>
                            </ul>
                        </li>
                        <li><a href="/map/">Map</a></li>
                        <li><a href="/reports/">Reports</a></li>
                        <li><a href="/messages/">Messages</a></li>
                        <li><a href="/gold/">Gold</a></li>                                            
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

    {%block content%}{%endblock%}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="{% static 'images/home/under.png'%}" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{% static 'images/home/profile1.png'%}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>With passion, everything is possible. Without it, everything seems imposible.</blockquote>
                                <h3><a href="#">- Slosimon</a></h3>
                               
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="{% static 'images/home/profile2.png'%}" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>After every downfall there comes the sunrise with a new day and new opportunity.</blockquote>
                                <h3><a href="">- Fact</a></h3>
                               
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
							<div id="SkypeButton_Call_slosimon_1">
								 <script type="text/javascript">
									 Skype.ui({
									 "name": "chat",
									 "element": "SkypeButton_Call_slosimon_1",
									 "participants": ["slosimon"],
									 "imageSize": 24
									 });
								 </script>
							</div>
                        </address>
						<address>
							<p>E-mail: </p>
							<a href="mailto:simon@slosimon.com">simon@slosimon.com</a>
						</address>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="EGQH7GES6FTR2">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>

                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2> Feel free to send any information, sugestions or whatsoever based on the game</h2>
                        <center>Moreover, you might get rewarded on the next server with in game money. Hooray! Less expenses, better game.</center>
                        <center>Passionate programmer? Comfortable with web app development? Want to learn new coding skills. Email me and we'll see what we can do. Sadly I can't promise any real money reward. For now ;) Help the community to grow and rewards will be given to anyone who will help us (me).</center>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; slosimon 2017. All Rights Reserved.</p>
                        <p>Designed by Themeum</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>   
    <script type="text/javascript" src="{% static 'js/jquery.countTo.js'%}"></script>

</body>
</html>
